.hide {
	display: table-cell!important;
}
object {
	display: none!important;
}
iframe {
	display: none!important;
}
div#main table:none([class="lista"]) {
	display: none!important;
}
div#bodyarea table{
	display: table!important;
}
div#ya1start_menu {
	display: none!important;
}
a#ya1start_btn {
	display: none!important;
}